:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --background-white-color: #e5e5e5;
  --background-grey-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  padding-top: 80px;
}

/*---------- утилиты -------------*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-post {
  text-align: center;
}

/*---------- лого -------------*/

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;

  z-index: 1;
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.logo-header {
  margin-right: 93px;
  text-align: left;
}

.logo-header,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.studio-black {
  font-family: Raleway, sans-serif;
  color: #212121;
}

/*---------- site nav -------------*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--primary-text-color);
}

/*---------- site contacts -------------*/

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item + .item {
  margin-left: 50px;
}

.link-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}

.link-header:hover .contacts-icon,
.link-header:focus .contacts-icon {
  fill: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------- Hero -------------*/
.overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-hero {
  text-align: center;
  padding: 10px 32px 10px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding-left: 41px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
  outline: none;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-text-color);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon:hover,
.close-modal-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus {
  border: 1px solid var(--accent-color);
}

.form-modal-icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover + .form-modal-icon,
.form-field input:focus + .form-modal-icon {
  fill: var(--accent-color);
}

.textarea-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.textarea-field label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.comment {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  height: 120px;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-field textarea:hover,
.textarea-field textarea:focus {
  border: 1px solid var(--accent-color);
}

.policy-label {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 9px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  fill: var(--white-text-color);
}

.checkbox:checked ~ .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.policy-field {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-terms {
  padding-left: 3px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px 55px 10px 56px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*---------- features -------------*/

.features-icons {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list-title {
  margin-bottom: 10px;
}

.section-post {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*---------- cards works -------------*/

.cards {
  display: flex;
  z-index: 0;
}

.cards-section {
  padding-top: 0;
}

.cards .item:not(:last-child) {
  margin-right: 30px;
}

.cards-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.cards-block {
  position: relative;
}

/*---------- team -------------*/

.team-title-text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: #afb1b8;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover,
.social-icons:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 50%;
}

.social-icons:hover .social-icon,
.social-icons:focus .social-icon {
  fill: var(--white-text-color);
}

.social-list .social-block:not(:last-child) {
  margin-right: 10px;
}

.team-section {
  background-color: #f5f4fa;
}

/*---------- clients ------------*/

.clients-list {
  display: flex;
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.icon-company {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover .icon-company,
.clients-icon:focus .icon-company {
  fill: var(--accent-color);
}

.clients-icon:hover,
.clients-icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*---------- footer -------------*/

footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.city {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.studio-white {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.footer-link-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-link-tel {
  display: block;
}

.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--accent-color);
}

.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
}

.contacts-footer {
  margin-right: 70px;
}

.join-footer {
  margin-right: 93px;
}

.join-section-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list-footer {
  display: flex;
}

.social-icons-footer {
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--white-text-color);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: var(--white-text-color);
}

.social-icons-footer:hover,
.social-icons-footer:focus {
  background-color: var(--accent-color);
}

.form-footer {
  display: flex;
}

.form-footer input {
  display: flex;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  align-items: center;
  justify-content: center;
  padding: 15px 16px 15px 16px;
}

.form-footer input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px 28px 10px 29px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

.subscribe-icon {
  fill: var(--white-text-color);
  margin-left: 10px;
}

/*---------- filter -------------*/

.filter-title-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-title-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------- works section -------------*/

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list .item {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay {
  position: relative;
  overflow: hidden;
}

.works-overlay::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-discription {
  display: block;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .works-overlay::before {
  transform: translateY(0);
  opacity: 1;
}

.item:hover .image-discription {
  transform: translateY(0);
  opacity: 1;
}

.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.works-list-text {
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.works-title-text {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
